@import "_constants.less";

.wrapper {
  margin-top: auto;
  margin-bottom: auto;
}

.login {
  max-width: 70%;
  padding: 2% 6% 3%;
  margin: auto;
  background-color: @color_green;
  text-align: center
}

.heading {
  text-align: center;
  margin-bottom: auto;
}

.input {
  position: relative;
  font-size: 150%;
  height: 15%;
  padding: 1%;
  margin-bottom: 3%;
}

.container {
  background-color: @color_white;
}

body {
  background-color: @color_grey;
}