<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{admin.page.title.text}"></title>
    <th:block th:include="modules/imports :: links"/>
</head>
<body>
<div class="container">
    <h2><span th:text="#{admin.page.header.main.text}"></span></h2>
    <th:block th:include="modules/login :: signOut"/>
    <th:block th:include="modules/menu :: sections"/>
</div>
<th:block th:include="modules/imports :: scripts"/>
<th:block th:include="modules/imports :: admin-scripts"/>
</body>
</html>