<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{login.page.title.text}"></title>
    <th:block th:include="modules/imports :: links"/>
</head>
<body>
<th:block th:include="modules/login :: signIn"/>
<th:block th:include="modules/imports :: scripts"/>
</body>
</html>