<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="add">
    <h3><span th:text="#{admin.page.header.add.area.text}"></span></h3>
    <form th:action="@{/admin/area/add}" method="post" class="home">
        <table class="table">
            <tr>
                <td>
                    <span th:text="#{admin.page.area.name.text}"></span>:
                    <br>
                    <input name="name" type="text"/>
                    <br>
                    <span th:text="#{admin.page.area.url.text}"></span>:
                    <br>
                    <input name="url" type="text"/>
                    <br>
                    <span th:text="#{admin.page.area.teacher.code.text}"></span>:
                    <br>
                    <input name="teacherCode" type="text"/>
                </td>
                <td>
                    <span th:text="#{admin.page.area.mobile.text}"></span>:
                    <br>
                    <input name="mobile" th:id="addMobile" class="btn btn-info"
                           type="text" th:onclick="'APP.platform.setPlatform(\'addMobile\');'" value="false"
                           readonly/>
                    <br>
                    <span th:text="#{admin.page.area.web.text}"></span>:
                    <br>
                    <input name="web" th:id="addWeb" class="btn btn-info"
                           type="text" th:onclick="'APP.platform.setPlatform(\'addWeb\');'" value="false"
                           readonly/>
                </td>
                <td>
                    <button class="btn btn-md btn-success btn-block"
                            type="Submit" th:text="#{admin.page.area.add.button.text}">
                    </button>
                </td>
            </tr>
        </table>
    </form>
</th:block>
<th:block th:fragment="list">
    <h3><span th:text="#{admin.page.header.areas.list.text}"></span></h3>
    <table class="table">
        <tr th:each="area,iter : ${areas}">
            <form th:action="@{/admin/area/modify}" method="post" class="home">
                <th scope="col"><span th:utext="${iter.index+1}"></span></th>
                <input name="id" th:value="${area.id}" type="hidden" readonly/>
                <td>
                    <span th:text="#{admin.page.area.name.text}"></span>:
                    <br>
                    <input name="name" th:value="${area.name}" type="text"/>
                    <br>
                    <span th:text="#{admin.page.area.url.text}"></span>:
                    <br>
                    <input name="url" th:value="${area.url}" type="text"/>
                    <br>
                    <span th:text="#{admin.page.area.teacher.code.text}"></span>:
                    <br>
                    <input name="teacherCode" th:value="${area.teacherCode}" type="text"/>
                </td>
                <td>
                    <span th:text="#{admin.page.area.mobile.text}"></span>:
                    <br>
                    <input name="mobile" th:id="'mobile' + ${area.id}" class="btn btn-info"
                           th:value="${area.mobile}"
                           type="text" th:onclick="'APP.platform.setPlatform(\'mobile\'+ \'' +${area.id}  + '\');'"
                           readonly/>
                    <br>
                    <span th:text="#{admin.page.area.web.text}"></span>:
                    <br>
                    <input name="web" th:id="'web' + ${area.id}" class="btn btn-info" th:value="${area.web}"
                           type="text" th:onclick="'APP.platform.setPlatform(\'web\'+\'' +${area.id}  + '\');'"
                           readonly/>
                </td>
                <td>
                    <button class="btn btn-md btn-warning btn-block"
                            type="Submit" th:text="#{admin.page.area.modify.button.text}">
                    </button>
                </td>
            </form>
            <td>
                <form th:action="@{/admin/area/delete}" method="post" class="home">
                    <input name="id" th:value="${area.id}" type="hidden"/>
                    <button class="btn btn-md btn-danger btn-block" th:id="removingArea + ${iter.index+1}"
                            type="Submit" th:text="#{admin.page.area.delete.button.text}" disabled="true">
                    </button>
                </form>
                <span th:text="#{admin.page.confirm.area.remove.text}"></span>
                <input type="checkbox" th:id="removingAreaConfirmation + ${iter.index+1}"
                       th:onclick="'APP.removing.confirmRemoving(\'removingArea\', \'removingAreaConfirmation\', \'' + ${iter.index+1}  + '\');'">
            </td>
        </tr>
    </table>
</th:block>
</html>