<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="links">
    <link rel="stylesheet/less" type="text/css" th:href="@{/less/_all.less}"/>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}"/>
</th:block>
<th:block th:fragment="scripts">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</th:block>
<th:block th:fragment="admin-scripts">
    <script th:src="@{/js/platform.js}"></script>
    <script th:src="@{/js/menu.js}"></script>
    <script th:src="@{/js/removing.js}"></script>
</th:block>
</html>