<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="signIn">
    <div class="w3-display-middle">
        <form th:action="@{/login}" method="POST" class="login">
            <h3 th:text="#{login.page.sign.in.login.text}"></h3>
            <input type="text" id="email" name="email" th:placeholder="#{login.page.email.text}" class="input"/>
            <input type="password" th:placeholder="#{login.page.password.text}" id="password" name="password"
                   class="input"/>
            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
                    th:text="Login"></button>
        </form>
    </div>
</th:block>
<th:block th:fragment="signOut">
    <form th:action="@{/logout}" method="get" class="home">
        <button class="btn btn-md btn-danger btn-block" name="taskModel"
                type="Submit"><span th:text="#{login.page.sign.out.logout.text}"></span>
        </button>
    </form>
</th:block>
</html>