<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sections">
    <div class="d-flex justify-content-around">
        <div class="p-2 bd-highlight">
            <button onclick="APP.menu.setSection('areas')" class="btn btn-lg btn-dark btn-block"><span
                    th:text="#{admin.page.menu.areas.text}"></span></button>
        </div>
        <div class="p-2 bd-highlight">
            <button onclick="APP.menu.setSection('users')" class="btn btn-lg btn-dark btn-block"><span
                    th:text="#{admin.page.menu.users.text}"></span></button>
        </div>
    </div>
    <div id="areas">
        <th:block th:include="modules/areas :: add"/>
        <th:block th:include="modules/areas :: list"/>
    </div>
    <div id="users">
        <th:block th:include="modules/users :: add"/>
        <th:block th:include="modules/users :: list"/>
    </div>
</th:block>
</html>