<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="add">
    <h3><span th:text="#{admin.page.header.add.user.text}"></span></h3>
    <form th:action="@{/admin/user/add}" method="post" class="home">
        <table class="table">
            <tr>
                <td>
                    <span th:text="#{admin.page.user.email.text}"></span>:
                    <br>
                    <input class="mt-2" name="email" type="text"/>
                    <br>
                    <span th:text="#{admin.page.user.password.text}"></span>:
                    <br>
                    <input class="mt-2" name="password" type="text"/>
                </td>
                <td>
                    <button class="btn btn-md btn-success btn-block mt-2"
                            type="Submit" th:text="#{admin.page.user.add.button.text}">
                    </button>
                </td>
            </tr>
        </table>
    </form>
</th:block>
<th:block th:fragment="list">
    <h3><span th:text="#{admin.page.header.users.list.text}"></span></h3>
    <table class="table">
        <tr>
            <th scope="col" th:text="#{admin.page.user.email.text}"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        <tr th:each="user,iter : ${users}">
            <th scope="col"><span th:utext="${iter.index+1}"></span></th>
            <td><span th:utext="${user.email}"></span></td>
            <td>
                <form th:action="@{/admin/user/delete}" method="post" class="home">
                    <input name="email" th:value="${user.email}" type="hidden"/>
                    <button class="btn btn-md btn-danger btn-block" th:id="removingUser + ${iter.index+1}"
                            type="Submit" th:text="#{admin.page.user.add.delete.text}" disabled="true">
                    </button>
                </form>
                <span th:text="#{admin.page.confirm.user.remove.text}"></span>
                <input type="checkbox" th:id="removingUserConfirmation + ${iter.index+1}"
                       th:onclick="'APP.removing.confirmRemoving(\'removingUser\', \'removingUserConfirmation\', \'' + ${iter.index+1}  + '\');'">
            </td>
        </tr>
    </table>
</th:block>
</html>